{% extends "base.html" %}
{% load static %}
{% block content %}


    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>À propos de nous</h1>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header -->

    <div class="welcome-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 order-2 order-lg-1">
                    <div class="welcome-content">
                        <header class="entry-header">
                            <h2 class="entry-title">De la vision, mission et valeurs</h2>
                        </header><!-- .entry-header -->

                        <div class="entry-content mt-5">
                            <h6><i style="font-weight: bold;">FONDEM-Asbl</i> exerce ses activités sur toutes l'étendue de la république Démocratique du congo,
                                mais il peut les étendre partout où le besoin se fait sentir à travers le monde pour des raisons liées à ses activités.
                                En vue de réussir son dessein d'atteindre au mieux les objectifs qu'elle s'est assignés,
                                <i style="font-weight: bold;">FONDEM-Asbl</i> se consacre aux actiions sociales orientées vers le soutien des classes défavorisées notamment les personnes vivant avec handicap, les
                                orphelins, les veuves, les femmes battues et les personnes âgées, bref, des personnes vulnérables dépourvues de tout appui social.
                            </h6>
                            <h6> <h5 style="font-weight: bold;">La vision</h5> de FONDEM-Asbl est: de vivre dans une humanité respecteuse de la vie et de la justicesociale. 
                                <br>
                                <h5 style="font-weight: bold;">La mission</h5> de l'association est de: <br>
                               <ul>
                                   <li>Mettre en oeuvre les droits humains, de la femme et de l'enfant;</li>
                                   <li>Valoriser le bien-être social;</li>
                               </ul>
                               <br>
                               <h5 style="font-weight: bold;" >Nos valeurs</h5>
                               <ul>
                                   <li>Ethique</li>
                                   <li>Justice</li>
                                   <li>Bonne gouvernance</li>
                               </ul>
                                <h3>Des Objectifs</h3>
                                <h6>Le FONDEM a pour objectifs:</h6><br>
                                <ul>
                                    <li>Défendre et promouvoir les intérêts des personnes vulnérables;</li>
                                    <li>Lutter  contre toutes formes de violences faites à la femme;</li>
                                    <li>Emanciper la femme, épanouir l'enfant et promouvoir la famille,
                                        notamment par l'organisation des séances de sensibilisation aux droits de 
                                        la femme et de la famille, l'encadrement des filles-mères et des orphelins,
                                        l'apprentissage des métiers et la création des coopératives de développement.
                                    </li>
                                    <li>Combattre la pauvreté, l'analphabétisme et tous autres déficits dans le domaine 
                                        de l'éducation, notamment par la mise à disposition des intrants et matériels agricoles, des 
                                        fournitures scolaires et des matériels didactiques, la contribution aux travaux de restauration et de 
                                        construction des écoles;
                                    </li>
                                    <li>
                                        Promouvoir l'accès aux soins de santé primaire, sensibiliser sur la 
                                        prévention de Maladies Sexuellement Transmissibles et non Transmissibles.
                                    </li>
                                </ul>

                            </h6>
                        </div><!-- .entry-content -->

                    </div><!-- .welcome-content -->
                </div><!-- .col -->

                <div class="col-12 col-lg-6 order-1 order-lg-2">
                    <img style="width: 100%;" src="{% static 'images/welcome.jpg' %}" alt="welcome">
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .home-page-icon-boxes -->

    <div class="about-stats">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="circular-progress-bar">
                        <div class="circle" id="loader_1">
                            <strong class="d-flex justify-content-center"></strong>
                        </div>

                        <h3 class="entry-title">Travail accomplie</h3>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="circular-progress-bar">
                        <div class="circle" id="loader_2">
                            <strong class="d-flex justify-content-center"></strong>
                        </div>

                        <h3 class="entry-title">Amour</h3>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="circular-progress-bar">
                        <div class="circle" id="loader_3">
                            <strong class="d-flex justify-content-center"></strong>
                        </div>

                        <h3 class="entry-title">Idées Innovant</h3>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="circular-progress-bar">
                        <div class="circle" id="loader_4">
                            <strong class="d-flex justify-content-center"></strong>
                        </div>

                        <h3 class="entry-title">Bonne décision</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="about-testimonial">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="testimonial-cont">
                        <div class="entry-content">
                            <p>We love to help all the children that have problems in the world. After 15 years we have many goals achieved.</p>
                        </div>

                        <div class="entry-footer d-flex flex-wrap align-items-center mt-5">
                            <img src="{% static 'images/testimonial-1.jpg' %}" alt="">

                            <h4>Maria Williams, <span>Volunteer</span></h4>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 offset-lg-2 col-lg-5">
                    <div class="testimonial-cont">
                        <div class="entry-content">
                            <p>We love to help all the children that have problems in the world. After 15 years we have many goals achieved.</p>
                        </div>

                        <div class="entry-footer d-flex flex-wrap align-items-center mt-5">
                            <img src="{% static 'images/testimonial-2.jpg' %}" alt="">

                            <h4>Cristian James, <span>Volunteer</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="help-us">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                    <h2>Aider nous pour pouvoir aider les autres</h2>

                    <a class="btn orange-border" href="{% url 'website:contact' %}">Faire un don</a>
                </div>
            </div>
        </div>
    </div>



















{% endblock content %}