{% extends "base.html" %}
{% load static %}

{% block content %}


    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Notre cause</h1>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header -->

    <div style="margin-bottom: 5em;" class="highlighted-cause">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-7 order-2 order-lg-1">
                    <div class="section-heading">
                        <h2 class="entry-title">Nous assistons les enfant de la rue</h2>
                    </div><!-- .section-heading -->

                    <div class="entry-content">
                        <p>FONDEM-ASBL a pour objet de secourir les enfants en situation de détresse, les femmes victimes de violences et les personnes vulnérables</p>
                        <p>apporter de l'aide dans les domaines de l’éducation, de la santé, de la protection ainsi que dans l’amélioration des conditions de vie des personnes citées précédemment afin de leur apporter de l’autonomie et de l’autosuffisance.</p>
                    </div><!-- .entry-content -->

                    <div class="fund-raised w-100 mt-5">
                        <div class="featured-fund-raised-bar barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div><!-- .tipWrap -->

                            <span class="fill" data-percentage="83"></span>
                        </div><!-- .fund-raised-bar -->

                    </div><!-- .fund-raised -->

                    <div class="entry-footer mt-5">
                        <a href="{% url 'website:contact' %}" class="btn gradient-bg">Faire un don</a>
                    </div><!-- .entry-footer -->
                </div><!-- .col -->

                <div class="col-12 col-lg-5 order-1 order-lg-2">
                    <img src="images/oshomah.jpg" alt="">
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .highlighted-cause -->



{% endblock content %}