{% extends "base.html" %}

{% load static %} 
{% block content %}

   <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Contact</h1>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header -->

    <div class="contact-page-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <div class="entry-content">
                        <h2>Vous pouvez nous joindre</h2>

                        <p>Nous avons établie notre siège social au 21 Rue Alfred Kastler 77176 Savigny-Le-Temple en France et Rue Lac Moero n°267 – Quartier Singa Mupepe – Commune de Lingwala en RDC.</p>

                        <ul class="contact-social d-flex flex-wrap align-items-center">

                            <li><a href="https://web.facebook.com/Fondem-Asbl-112664037203510" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>

                        <ul class="contact-info p-0">
                            <li><i class="fa fa-phone"></i><span>+243 84 118 92 67</span></li>
                            <li><i class="fa fa-phone"></i><span>+243 82 689 55 44</span></li>
                            <li><i class="fa fa-phone"></i><span>+33 69 537 06 87</span></li>
                            <li><i class="fa fa-envelope"></i><span>fondemasbl@gmail.com</span></li>
                            <li><i class="fa fa-map-marker"></i><span>N°267, Avenue Lac Moero, quartier Singa Mopepe dans la Commune de Lingwala.</span></li>
                            <li><i class="fa fa-map-marker"></i><span>21 Rue Alfred Kastler 77176, Savigny-le Temple, France</span></li>
                        </ul>
                    </div>
                </div><!-- .col -->

    

            </div><!-- .row -->
        </div><!-- .container -->
    </div>

{% endblock content %}