{% extends "base.html" %}

{% load static %} 
{% block content %}

   <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Contact</h1>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header -->

    <div class="contact-page-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <div class="entry-content">
                        <h2>
                            Faites votre don
                        </h2>

                        <p>Vous pouvez faire vos don aux coordonnés banqaires ci-dessous</p>

                        <div class="row elements-wrap">
                            <div class="col-12">
                                <header class="entry-header elements-heading">
                                    <h2 class="entry-title">Coordonnés Banquaires</h2>
                                </header>
                
                                <div class="entry-content elements-container">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="tabs">
                                                <ul class="tabs-nav d-flex">
                                                    <li class="tab-nav d-flex justify-content-center align-items-center" data-target="#tab_1">RIB FRANCE</li>
                                                    <li class="tab-nav d-flex justify-content-center align-items-center" data-target="#tab_2">IBAN</li>
                                                </ul>
                
                                                <div class="tabs-container">
                                                    <div id="tab_1" class="tab-content">
                                                        <p>18706-00000-97540342036-39</p>
                                                    </div>
                
                                                    <div id="tab_2" class="tab-content">
                                                        <p>FR76-1870-6000-0097-5403-4203-639</p>
                                                    </div>
            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- .col -->

    

            </div><!-- .row -->
        </div><!-- .container -->
    </div>

{% endblock content %}