<footer class="site-footer">
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="foot-about">
                        <h2>
                            <a class="foot-logo" href="#">
                                <h1 class="d-block" style="color: #fff; font-weight: bold;"><span style="color: #ff5a00;">F</span>ONDEM</h1>
                            </a>
                        </h2>

                        <!-- <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.Lorem ipsum dolo.</p> -->

                        <ul class="d-flex flex-wrap align-items-center">

                            <li><a href="https://web.facebook.com/Fondem-Asbl-112664037203510" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
                            <li><a href="https://www.youtube.com/channel/UCf_M8CKMRSHBbgx-Jr3y7ng?view_as=subscriber"><i class="fa fa-youtube"></i></a></li>
                            <!-- <li><a href="#"><i class="fa fa-instagram"></i></a></li> -->
                        </ul>
                    </div><!-- .foot-about -->
                </div><!-- .col -->


                <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                    <div class="foot-contact">
                        <h2>Contact</h2>

                        <ul>
                            <li><i class="fa fa-phone"></i><span>+243 84 118 92 67</span></li>
                            <li><i class="fa fa-phone"></i><span>+243 82 689 55 44</span></li>
                            <li><i class="fa fa-phone"></i><span>+33 69 537 06 87</span></li>
                            <li><i class="fa fa-envelope"></i><span>fondemasbl@gmail.com</span></li>
                            <li><i class="fa fa-map-marker"></i><span>N°267, Avenue Lac Moero, quartier Singa Mopepe dans la Commune de Lingwala.</span></li>
                            <li><i class="fa fa-map-marker"></i><span>21 Rue Alfred Kastler 77176, Savigny-le Temple, France</span></li>
                        </ul>
                    </div><!-- .foot-contact -->

 
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .footer-widgets -->

    <div class="footer-bar">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="m-0">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://crioni.herokuapp.com" target="_blank">crioni-eponde</a></p>
                </div><!-- .col-12 -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .footer-bar -->
</footer><!-- .site-footer -->