<header class="site-header">

    <div class="nav-bar">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                    <div class="site-branding d-flex align-items-center">
                       <a style="text-decoration: none;" class="d-block" href="{% url 'website:home' %}" rel="home">
                           <h1 class="d-block" style="color: #000; font-weight: bold; "><span style="color: #ff5a00;">F</span>ONDEM</h1>
                        </a>
                    </div><!-- .site-branding -->

                    <nav class="site-navigation d-flex justify-content-end align-items-center">
                        <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                            <li class="{% if request.path == '/'%}current-menu-item{% endif %}"><a href="{% url 'website:home' %}">Accueil</a></li>
                            <li class="{% if request.path == 'about/'%}current-menu-item{% endif %}"><a href="{% url 'website:about' %}">Àpropos</a></li>
                            <li ><a href="{% url 'website:causes' %}">Causes</a></li>
                            <li><a href="{% url 'website:gallery' %}">Galleries</a></li>
                            <li><a href="{% url 'website:news' %}">News</a></li>
                            <li class="{% if request.path == 'contact'%}current-menu-item{% endif %}"><a href="{% url 'website:contact' %}">Contact</a></li>
                        </ul>
                    </nav><!-- .site-navigation -->

                    <div class="hamburger-menu d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div><!-- .hamburger-menu -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .nav-bar -->
</header><!-- .site-header -->